.App{
    text-align: center;
    background-color: rgb(0, 0, 0);
   height: 100vh;
  display: grid;
  place-items: center;
  
    /* color: white; */
}
/* .app_videos{
    position: relative;
    height: 800px;
    overflow: scroll;
} */
.badge{
    display: flex;

}
.logotik{
    height: 50px;
    width: 50px;
    padding-left: 20px;

}