.videocontrols{
    color: white;
 
    position: absolute;
    bottom: 30%;
  right: 10px;
  font-size: 10px;
  
 

    

}
FavoriteBorderIcon{
    height: 50px;
}
.videocontrols_btn{

      display: flex;

  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  /* margin-top:90px ; */
}